@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

* {
  font-family: 'Arimo', monospace;
  color: #fff;
}

h1 {
  font-size: 2.8em;
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.game {
  display: inline-block;
  padding: 20px;
}

.screenshot {
  height: 150px;
  width: 150px;
  border: 2px dashed #fff;
  margin-bottom: 10px;
}

.background {
  background-color: #000;
  width: 100vw;
  height: 100vh;
}
