@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

* {
  font-family: 'Arimo', monospace;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
  color: #007dbc;
  font-weight: 700;
}

div {
  padding: 15px;
}
