<div class="background">
  <h1>
    Play some games!
  </h1>
  <div class="games">
    <div class="game">
      <a routerLink ='/space-disco'>
        <div class="screenshot"><span class="soon">COMING SOON</span></div>
        <div class="title">Space Disco Inferno</div>
      </a>
    </div>
    <div class="game">
      <a routerLink='/koda-run'>
        <div class="screenshot"><span class="soon">COMING SOON</span></div>
        <div class="title">Koda Run</div>
      </a>
    </div>
  </div>
</div>
